apiVersion: v1 
kind: Service 
metadata:
  name: jenkins-service 
  namespace: default 
spec: 
  type: NodePort
  selector:
    app: jenkins
  ports:
   - port: 3000
     targetPort: 3000
     nodePort: 30009